<!-- my-component.component.html -->
<div class="container">

<button id="basic" type="button" mat-button>
    Basic button
  </button>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Choose a product</mat-label>
    <select matNativeControl>
      <option value="" selected></option>
      <option value="aos10">AOS10</option>
      <option value="aos8">AOS8</option>
      <option value="cppm">CPPM</option>
    </select>
  </mat-form-field>

  <div class="search-bar">
    <mat-form-field appearance="outline" class="search-input">
      <input matInput type="text" placeholder="Search Command" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="search-button">
      Search
    </button>
  </div> -->
</div>
