<div class="container p-2 pt-3">
  <form class="example-container" [formGroup]="formGroup">
    <div class="row">
      <div class="col-2">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Choose a product</mat-label>
          <mat-select formControlName="product">
            <mat-option
              *ngFor="let product of products"
              [value]="product.value"
            >
              {{ product.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-10 d-flex">
        <!-- Code for search bar -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Command Search</mat-label>
          <input
            matInput
            type="text"
            formControlName="input_text"
            placeholder="Command Search"
          />
        </mat-form-field>
        <button
          mat-mini-fab
          color="primary"
          class="mt-2"
          style="margin-left: 5px"
          (click)="fetchCommands()"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
